*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    top: 0px;
    box-sizing: border-box;
}
header{
    position: sticky;
    display: block;
    width: 1512px;
    height: 98px;
    background-color: #373867;
    z-index: 1;
}
header img{
    position: fixed;
    width: 194;
    height: 41px;
    top: 28px;
    left: 29px;
}
aside{
    display: block;
    position: fixed;
    width: 313px;
    height: 915px;
    background-color: #AACE9B;
    top: 98px;
    z-index: 1;
}
.nav{
    width: 263px;
    height: 37.69px;
    margin: 0 auto;
    list-style: none;
    background-color: #FFFFFF;
    border: 1px solid #373867;
    border-radius: 5px;
    margin-bottom: 19px;
    padding-top: 7.62px;
}
.nav img{
    float: left;
    margin-left: 79px;
    margin-right: 10px;
}
nav{
    margin-top: 12.38px;

}
nav a{
    display: inline-block;
    text-decoration: none;
    color: #373867;
    font-weight: 876;
    font-size: 20px;
    line-height: 23.44px;
}
.contact-info{
    position: relative;
    top: 462.67px;
    margin-left: 34.36px;
}
.contact-info h2{
    display: inline-block;
    font-weight: 876;
    font-size: 20px;
    line-height: 23.44px;
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    margin-left: 32.36px;
    margin-bottom: 40px;
}
.info{
    list-style: none;
    color: #373867;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 23px;
}
.info img{
    float: left;
    margin-right: 16.36px;
}
main{
    position: relative;
    width: 1200px;
    left: 313px;
}
.welcome-section{
    margin-top: 65px;
    margin-left: 74px;
}
.welcome-article{
    width: 488px;
    text-align: center;
    float: left;
    margin-right: 61px;
}
.welcome-article h1{
    font-weight: 700;
    font-size: 40px;
    color: #373867;
    text-transform: uppercase;
}
.welcome-article h2{
    font-weight: 400;
    font-size: 20px;
    color: #49a37b;
    text-transform: uppercase;
}


