    .welcome-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Roboto';
    }
    .welcome-article h1{
        padding-top: 60px;
        font-size: 40px;
        color: #373867;
        font-family: 'Roboto';
        text-transform: uppercase;
    }
    .welcome-article h2{
        margin-top: 15px;
        text-transform: uppercase;
        color: #49A37B;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 400;
    }
    .welcome-section article{
        padding-top: 30px;
        font-family: 'Roboto';
    }
    .welcome-section img{
        width: 90%
    }
    .welcome-article p{
        font-size: 23px;
        color: #373867;
    }

    .features-articles{
        display: flex;
        flex-wrap: wrap;
    }
    .features-articles h4{
        margin-bottom: 30px;
        align-self: center;
        font-weight: 876;
        font-size: 20px;
        color: #373867;
        line-height: 28.13px;
    }
    .container{
        display: flex;
    }
    .features-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .features-articles img{
        margin-left: 60px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .features-articles p{
        margin: 40px;
        font-weight: 400;
        line-height: 23.44px;
        color: #373867;
    }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about img{
        width: 90%;
        margin-bottom: 20px;
    }
    .about p{
        font-weight: 400;
        font-size: 20px;
        color: #373867;
        line-height: 23.44px;
    }

    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        align-items: center;

    }
    label{
        display: block;
        font-family: 'Roboto';
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 8px;
        margin-left: 0;
    }
    .get-in-touch form{
        box-sizing: border-box;
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 30px;
        color: #373867;
    }
    #first-name, #last-name, #email-address{
        padding: 5px;
        width: 300px;
        border: 1px solid #373867;
        border-radius: 4px;
        border-bottom: 1px solid #373867;
    }
    .submit-button{
        display: block;
        margin-top: 20px;
        width: 100px;
        padding: 10px;
        color: #373867;
        background-color: #AACE9B;
        border: 1px solid #AACE9B;
        border-radius: 5px;
        font-size: 20px;
    }
    .select-contact-reason{
        border-radius: 4px;
        border-color: #373867;
    }
    .enter-message{
        padding: 5px;
        width: 300px;
        height: 165px;
    }

    .activities{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .activities ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        font-weight: 876;
        font-size: 30px;
        color: #373867;
    }
    .activities ul li{
        padding-right: 50px;
        margin-bottom: 10px;
        font-size: 14px;
        list-style: none;
    }
    .activities img{
        width: 90%;
        height: 187px;
        align-self: center;
    }

    .memberships{
        display: flex;
    }
    .memberships table{
        width: 90%;
        margin: 30px auto;
        border-collapse: collapse;
        font-weight: 600;
        font-size: 14px;
        color: #373867;
    }
    .table1{
        height: 40px;
        text-align: center;
        background-color: #D9D9D9;
    }
    .table1 .td-first{
        vertical-align: middle;
        list-style: none;
    }
    .table1 td.td-first, .table2 td.td-first{
        height: 40px;
        text-align: center;
        vertical-align: middle;
    }
    td img{
        text-align: center;
        vertical-align: middle;
    }

@media only screen and (min-width:601px){
    main{
        margin-top: 90px;
    }
    .welcome-section{
        display: flex;
        align-items: center;
        padding: 20px;
    }
    .welcome-section h1{
        font-size: 40px;
    }
    .welcome-article{
        margin-top: -60px;
    }
    .welcome-section img{
        width: 50%;
    }
    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .features-articles{
        max-width: 50%;
    }
    .features-articles img{
        margin-left: 25px;
    }
    .features-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 95%;
    }
    .article-container{
        flex-direction: row;
    }
    .article-container img{
        align-items: center;
        width: 50%;
    }
    .article-container p{
        margin: 0 auto;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        font-size: 15px;
    }
    .about .article-container{
        width: 95%;
        margin: 30px auto;
    }
    .learn-more{
        display: none;
    }
    .get-in-touch form{
        flex-direction: row;
        text-align: left;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }
    form input{
        width: 200px;
        margin-right: 30px;
    }
    .select-contact-reason, .enter-message{
        width: 200%
    }
    .submit-button{
        display: block;
        margin: 0 auto;
    }
    .activities article{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 50px;
    }
    .activities ul{
        display: block;
        padding-left: 19px;
    }

    .activities ul li{
        font-size: 20px;
        list-style: disc;
    }

    .activities img{
        margin-top: 0;
        margin-bottom: 0;
        max-width: 350px;
        height: 145px;
    }
}

@media only screen and (min-width: 1025px){
    main{
        margin-left: 300px;
    }
    .welcome-section{
        margin: 0 auto;
        max-width: 1000px;
    }
    .welcome-article{
        max-width: 700px;
    }
    .features-container{
        max-width: 1000px;
    }
    .features-articles{
        max-width: 50%;
    }
    .article-container p{
        padding: 20px 55px;
        font-size: 20px;!important;
    }
    .about .article-container{
        max-width: 1000px;
        margin: 0 auto;
    }
    .activities ul li{
        font-size: 25px;
    }
    .activities img{
        width: 50%;
        max-width: 500px;
        height: 250px;
    }
    .memberships table{
        max-width: 1000px;
        font-size: 20px;
    }
    .table1 td.td-first, .table2 td.td-first{
        height: 50px;
    }
}